[Unit]
Description=Node Exporter Container
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
ExecStop=/usr/bin/docker stop {{ metrics_node_exporter_container_name }}
ExecStart=/usr/bin/docker start {{ metrics_node_exporter_container_name }}

[Install]
WantedBy=multi-user.target

